<ion-view title="Alex Rohan">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a href="#/melb_entertainment" class="button button-calm button-block button-small icon-left ion-ios-arrow-back">Go Back</a>
        <div>
            <p>Singer- song writer on a loop pedal</p>

            <p>PERFORMANCE TIME: 9am</p>

            <p>WHERE: MAIN STAGE</p>
            <a href="#" onclick="window.open('https://soundcloud.com/user-602955525', '_system', 'location=yes'); return false;" class="button button-energized button-block  icon-left ion-ios-musical-notes">Website</a>
        </div>
        <div style="text-align:center;">
            <img src="img/etzn0FQUR9rVPfoSof9Y_alex.jpg" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>
