<ion-view title="Contact">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/hmJc6CdRNc1Mmpy7iyJw_beerfest-crowd-large.jpg) no-repeat center;" scroll="false" class="has-header">
        <div style="text-align:center;">
            <img src="img/V53ImY8TRiGh6Q3Av1L6_maps.PNG" width="100%" height="auto">
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Your Full Name">
            </label>
            <label class="item item-input" name="Email">
                <span class="input-label">Email</span>
                <input type="text" placeholder="yourname@yourisp.com">
            </label>
            <label class="item item-input" name="Message">
                <span class="input-label">Message</span><textarea placeholder="Enter your message . . ."> </textarea>
            </label>
        </form>
        <button class="button button-calm button-block ">SEND MY MESSAGE</button>
    </ion-content>
</ion-view>