<ion-view title="Contact">

    <ion-content overflow-scroll="true" padding="true" style="background: url() no-repeat center;" class="has-header">
        <form class="list"></form>
        <ion-list></ion-list>
        <div style="text-align:center;">
            <img src="img/beerfest-au.png" width="100%" height="auto">
        </div>

        <div class="list card">

          <a href="#" class="item item-icon-left">
            <i class="icon ion-home"></i><class="button button-outline" href="#" onclick="window.open('http://www.beerfestivals.com.au', '_system', 'location=yes'); return false;">
            beerfestivals.com.au
          </a>

          <a href="#" class="item item-icon-left">
            <i class="icon ion-ios-email"></i><class="button button-outline" href="#" onclick="window.open('mailto:info@beerfestivals.com.au?subject=Beerfest-Australia-App', '_system', 'location=yes'); return false;">
            info@beerfestivals.com.au
          </a>


        </div>

    </ion-content>
</ion-view>
