<ion-view title="Esk">
    <ion-content overflow-scroll="true" padding="true" style="background: url() no-repeat center;" class="has-header">
        <form class="list"></form>
        <ion-list></ion-list>
        <div style="text-align:center;">
            <img src="img/esk-beerfest-solid.png" width="100%" height="auto">
        </div>
        <h3>Esk Beerfest</h3>
        <div>
            <h4>Fri 26th - Sat 27th, February 2016.</h4>
        </div>
        <h5>William Street</h5>
        <div>
            <p>Launceston, Tas 7250</p>
        </div>
    </ion-content>
</ion-view>
