<ion-view title="Esk">

    <ion-content overflow-scroll="true" padding="true" style="background: url() no-repeat center;" class="has-header">
        <form class="list"></form>
        <ion-list></ion-list>
        <div style="text-align:center;">
            <img src="img/esk-beerfest-solid.png" width="100%" height="auto">

            <h4>Fri 26th - Sat 27th February 2016</h4>
            </div>

        <ion-list>
            <ion-item href="#/esk_eventinfo" menu-close=""><i class="icon ion-ios-information-outline"></i> Event Info</ion-item>
            <ion-item href="#/esk_stalls" menu-close=""><i class="icon ion-beer"></i> Stalls</ion-item>
            <ion-item href="#/esk_entertainment" menu-close=""><i class="icon ion-ios-musical-notes"></i> Entertainment</ion-item>
            <ion-item href="#/esk_sitemap" menu-close=""><i class="icon ion-map"></i> Site Map</ion-item>
            <ion-item href="#" onclick="window.open('http://beerfestivals.com.au', '_system', 'location=yes'); return false;"><i class="ion-ios-cart-outline"></i> Tickets - Currently Not Available</ion-item>
            <!-- <ion-item href="#/side-menu21/tickets" menu-close=""><i class="icon ion-document"></i> Tickets</ion-item> -->
        </ion-list>

    </ion-content>
</ion-view>
