<ion-view title="Esk">

    <ion-content overflow-scroll="true" padding="true" style="background: url() no-repeat center;" class="has-header">
        <form class="list"></form>
        <ion-list></ion-list>
        <div style="text-align:center;">
            <img src="img/esk-beerfest-solid.png" width="100%" height="auto">
        </div>
        <h3>Esk Beerfest</h3>
        <div>
            <h4>Fri 26th - Sat 27th, February 2016.</h4>
        </div>
        <h5>William Street</h5>
        <div>
            <p>Launceston, Tas 7250</p>
        </div>

<div class="row">
  <div class="col">
    <button class="button button-block button-positive">
      <i class="icon ion-help"></i> Event Info</button>

    <button class="button button-block button-positive">
      <i class="icon ion-map"></i> Site Map</button>

    <button class="button button-block button-positive">
      <i class="icon ion-email"></i> Contact</button>
  </div>
  <div class="col">
    <button class="button button-block button-positive">
      <i class="icon ion-beer"></i> Stalls</button>
    <button class="button button-block button-positive">
      <i class="icon ion-document"></i> Tickets</button>
  </div>
</div>

    </ion-content>
</ion-view>
