<ion-view title="Fremantle">

    <ion-content overflow-scroll="true" padding="true" style="background: url() no-repeat center;" class="has-header">
        <form class="list"></form>
        <ion-list></ion-list>
        <div style="text-align:center;">
            <img src="img/fremantle-beerfest-logo.png" width="100%" height="auto">
        </div>
        <h3>Fremantle Beerfest</h3>
        <div>
            <h4>Sat 14th - Sun 15th, November 2015.</h4>
        </div>
        <h5>Fremantle Esplanade</h5>
        <div>
            <p>Fremantle, WA 6160</p>
        </div>

        <ion-list>
            <ion-item href="#/fremantle_eventinfo" menu-close=""><i class="icon ion-map"></i> Event Info</ion-item>
            <ion-item href="#/fremantle_stalls" menu-close=""><i class="icon ion-beer"></i> Stalls</ion-item>
            <ion-item href="#/fremantle_sitemap" menu-close=""><i class="icon ion-map"></i> Site Map</ion-item>
            <ion-item href="#/side-menu21/tickets" menu-close=""><i class="icon ion-document"></i> Tickets</ion-item>
            <ion-item href="#/side-menu21/contact" menu-close=""><i class="icon ion-email"></i> Contact</ion-item>
        </ion-list>

    </ion-content>
</ion-view>
