<ion-view title="Fremantle">
    <ion-content overflow-scroll="true" padding="true" style="background: url() no-repeat center;" class="has-header">
        <form class="list"></form>
        <ion-list></ion-list>
        <div style="text-align:center;">
            <img src="img/fremantle-beerfest-logo.png" width="100%" height="auto">
        </div>
        <h3>Fremantle Beerfest</h3>
        <div>
            <h4>Sat 14th - Sun 15th, November 2015.</h4>
        </div>
        <h5>Fremantle Esplanade</h5>
        <div>
            <p>Fremantle, WA 6160</p>
        </div>

        <div class="row">
          <div class="col">
            <a class="button button-block button-positive" href="#/fremantle_eventinfo"><i class="icon ion-map"></i> Event Info</a>

            <button class="button button-block button-positive">
              <i class="icon ion-map"></i> Site Map</button>

            <button class="button button-block button-positive">
              <i class="icon ion-email"></i> Contact</button>
          </div>
          <div class="col">
            <button class="button button-block button-positive">
              <i class="icon ion-beer"></i> Stalls</button>
            <button class="button button-block button-positive">
              <i class="icon ion-document"></i> Tickets</button>
          </div>
        </div>

    </ion-content>
</ion-view>
