<ion-view title="Fremantle Event Info">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a href="#/side-menu21/fremantle" class="button button-calm button-block button-small icon-left ion-ios-arrow-back">Go Back</a>

        <div class="card">
          <div class="item item-text-wrap">
<b>What is the date for the 2015 Fremantle Craft Beer and Food Festival?</b>
<p>Saturday 14 November & Sunday 15 November 2015</p>
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
<b>What are Festival Times?</b>
<p>Saturday: 12.30pm-8.30pm & Sunday: 12.30pm - 8.00pm</p>
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
<b>Where is the festival?</b>
<p>Esplanade Park, Fremantle.</p>
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
<b>Where can I buy my ticket?</b>
<p>Tickets are available through our website.</p>
<p>
<button class="button button-outline" href="#" onclick="window.open('http://beerfestivals.com.au', '_system', 'location=yes'); return false;">TICKETS NOT AVAILABLE</button>
</p>
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
<b>How much are tickets?</b>
<p>Tickets are on sale now. Single day ($27 + B.F.) and weekend tickets ($37 + B.F.) will be available. See our tickets page for further details.</p>
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
<b>What do I get for the price of my ticket?</b>
<p>All tickets include an official Beerfest cup for use throughout the Festival. Tastings are typically priced $1-2 for 100ml, as decided by the breweries themselves. The master classes, live comedy, music & other activities are included in your ticket.</p>
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
<b>Will there be gate sales?</b>
<p>Gate sales will be available both days. We recommend getting your tickets online in advance, as they will be slightly cheaper and gate sales will be delayed as the event nears capacity (as happened last year).</p>
          </div>
        </div>

    </ion-content>
</ion-view>
