<!DOCTYPE html>
<html>
<ion-view title="Welcome to Beerfest Australia">

    <ion-content overflow-scroll="false" padding="true" style="background: url(img/42KOmHXzS0WM82ruaFNC_10929201_773033366157692_171336224778503224_n.jpg) no-repeat top;" scroll="false" class="has-header" height="auto" width="100%">
        <div style="text-align:top;">
            <!-- <img src="" width="100%" height="auto"> -->
        </div>
        <!-- <form class="list"></form> -->
        <!-- <a href="#/side-menu21/tickets" class="button button-energized button-block button-large icon-right ion-beer">GET TICKETS NOW</a> -->
        <!-- <ion-list></ion-list> -->
    </ion-content>
</ion-view>
</html>
