<ion-view title="Welcome to Beerfest Australia"
    <ion-content overflow-scroll="false" padding="true" style="background: url(img/hmJc6CdRNc1Mmpy7iyJw_beerfest-crowd-large.jpg) no-repeat center;" scroll="false" class="has-header">
        <div style="text-align:center;">
            <img src="img/love-beer.png" width="100%" height="auto">
        </div>
        <form class="list"></form>
        <a href="#/side-menu21/tickets" class="button button-energized button-block button-large icon-right ion-beer">GET TICKETS NOW</a>
        <ion-list></ion-list>
    </ion-content>
</ion-view>
