<ion-view title="Melbourne">
    <ion-content overflow-scroll="true" padding="true" style="background: url() no-repeat center;" class="has-header">
        <form class="list"></form>
        <ion-list></ion-list>
        <div style="text-align:center;">
            <img src="img/melbourne-beerfest-logo-solid.png" width="100%" height="auto">
        </div>
        <h3>Melbourne Beerfest</h3>
        <div>
            <h4>Sat 5th March, March 2016.</h4>
        </div>
        <h5>Catani Gardens</h5>
        <div>
            <p>St Kilda, Vic 3182</p>
        </div>
    </ion-content>
</ion-view>
