<ion-view title="Melbourne">

    <ion-content overflow-scroll="true" padding="true" style="background: url() no-repeat center;" class="has-header">
        <form class="list"></form>
        <ion-list></ion-list>
        <div style="text-align:center;">
            <img src="img/melbourne-beerfest-logo-solid.png" width="100%" height="auto">
        </div>
        <h3>Melbourne Beerfest</h3>
        <div>
            <h4>Sat 5th March 2016</h4>
        </div>
        <h5>Cantani Gardens</h5>
        <div>
            <p>St. Kilda, Vic 3182</p>
        </div>

        <ion-list>
            <ion-item href="#/melbourne_eventinfo" menu-close=""><i class="icon ion-map"></i> Event Info</ion-item>
            <ion-item href="#/melbourne_stalls" menu-close=""><i class="icon ion-beer"></i> Stalls</ion-item>
            <ion-item href="#/melbourne_sitemap" menu-close=""><i class="icon ion-map"></i> Site Map</ion-item>
            <ion-item href="#" onclick="window.open('http://events.ticketbooth.com.au/event/MelbourneBeerFest15/tag/web-day', '_system', 'location=yes'); return false;"><i class="ion-ios-cart-outline"></i> Tickets</ion-item>
            <!-- <ion-item href="#/side-menu21/tickets" menu-close=""><i class="icon ion-document"></i> Tickets</ion-item> -->
        </ion-list>

    </ion-content>
</ion-view>
