<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content edge-drag-threshold="true" drag-content="true">
        <ion-nav-bar class="bar-energized">
            <!-- <ion-nav-back-button></ion-nav-back-button> -->
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" expose-aside-when="large">
        <ion-header-bar class="bar-calm">
            <div class="title"><i class="icon ion-android-apps"></i> Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item href="#/side-menu21/home" menu-close=""><i class="icon ion-ios-home-outline"></i> Home</ion-item>
                <ion-item href="#/side-menu21/fremantle" menu-close=""><i class="icon ion-beer"></i> Fremantle</ion-item>
                <ion-item href="#/side-menu21/esk" menu-close=""><i class="icon ion-beer"></i> Esk</ion-item>
                <ion-item href="#/side-menu21/melbourne" menu-close=""><i class="icon ion-beer"></i> Melbourne</ion-item>
                <!-- <ion-item href="#/side-menu21/mynotes" menu-close="">My Notes</ion-item> -->
                <ion-item href="#/side-menu21/photos" menu-close=""><i class="icon ion-ios-eye-outline"></i> Photos</ion-item>
                <ion-item href="#/side-menu21/extrainfo" menu-close=""><i class="icon ion-ios-help-outline"></i> Extra Info</ion-item>
                <ion-item href="#/side-menu21/contact" menu-close=""><i class="icon ion-ios-email-outline"></i> Contact</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
