<ion-view title="NAFASI">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a href="#/melb_entertainment" class="button button-calm button-block button-small icon-left ion-ios-arrow-back">Go Back</a>
        <div>
            <p>NAFASI is a 4 piece band based in Melbourne. Drawing influences from acts like Little Dragon, J Dilla and Robert Glasper, NAFASI produces a sound that sits comfortably between RnB, Hip Hop and Pop.</p>

            <p>PERFORMANCE TIME: 9am</p>

            <p>WHERE: MAIN STAGE</p>
<a href="#" onclick="window.open('https://soundcloud.com/nafasiband', '_system', 'location=yes'); return false;" class="button button-energized button-block  icon-left ion-ios-musical-notes">Website</a>
        </div>
        <div style="text-align:center;">
            <img src="img/o51hZBL6QrCW2y3oom6d_nafasi.jpg" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>
