<ion-view title="Photos">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

      <div style="text-align:center;">
          <img src="img/6BlQNj8VQsWCNqIJnHjP_beerfest-crowd-sunny.png" width="100%" height="auto">
      </div>
        <div style="text-align:center;">
            <img src="img/XmVlhkcER9iUSJowqYXA_beerfest-crowd-1.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/CJ91s2DTDWV0bhmoSCbi_beerfest-food.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/z2PDpj2SyDfSOroGMCIA_beerfest-glass-handheld.png" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/misc/1913236_217836208412750_1359963214_o.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/misc/crowd-fremantle-2013.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/misc/esk-beerfest.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/misc/event-info-1.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/misc/event-info-2.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/misc/event-info-3.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/misc/event-info-4.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/misc/fremantle-beerfest.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/misc/fremantle-comedy.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/misc/fremantle-tap-pour.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/misc/hand-made.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/misc/love-beer.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/misc/melb-beerfest.jpg" width="100%" height="auto">
        </div>

    </ion-content>
</ion-view>
