<ion-view title="Photos">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/XmVlhkcER9iUSJowqYXA_beerfest-crowd-1.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/6BlQNj8VQsWCNqIJnHjP_beerfest-crowd-sunny.png" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/CJ91s2DTDWV0bhmoSCbi_beerfest-food.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/z2PDpj2SyDfSOroGMCIA_beerfest-glass-handheld.png" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>