<ion-view title="Social Media">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/LwV8tUp8TYq9ktnFW4DQ_fremantle-crowd-cutout.jpg" width="100%" height="auto">
        </div>
        <a href="#" onclick="window.open('http://melbourne.beerfestivals.com.au', '_system', 'location=yes'); return false;" class="button button-energized button-block  icon-left ion-monitor">melbourne.beerfestivals.com.au</a>
        <a href="#" onclick="window.open('https://www.facebook.com/MelbourneBeerFest/timeline', '_system', 'location=yes'); return false;" class="button button-energized button-block  icon-left ion-social-facebook-outline">facebook</a>
        <a href="#" onclick="window.open('http://www.duncanunderwood.com.au', '_system', 'location=yes'); return false;" class="button button-stable button-block  icon-left ion-social-apple">Apple Store</a>
        <a href="#" onclick="window.open('http://www.duncanunderwood.com.au', '_system', 'location=yes'); return false;" class="button button-stable button-block  icon-left ion-android-playstore">Google Play Store</a>
        <a href="#" onclick="window.open('http://www.duncanunderwood.com', '_system', 'location=yes'); return false;" class="button button-stable button-block  icon-left ion-social-windows">Windows Store</a>
        <h5>#melbournebeerfest</h5>
        <a href="#" onclick="window.open('http://www.duncanunderwood.com.au', '_system', 'location=yes'); return false;" class="button button-stable button-block button-small icon-left ion-code">App Dev by Duncan Underwood</a>
    </ion-content>
</ion-view>