<ion-view title="The Brow">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a href="#/melb_entertainment" class="button button-calm button-block button-small icon-left ion-ios-arrow-back">Go Back</a>
        <div>
            <p>The Brow (formerly Brow Horn Orchestra) are a high-energy brass n’ beats six-piece party band that play genre-defying, dance-demanding electronic/hip hop/pop music laced with an irrefutable energy and a heavy platter of global sounds.</p>

            <p>PERFORMANCE TIME: 9am</p>

            <p>WHERE: MAIN STAGE</p>
            <a href="#" onclick="window.open('http://www.thebrow.com.au', '_system', 'location=yes'); return false;" class="button button-energized button-block  icon-left ion-ios-musical-notes">Website</a>
        </div>
        <div style="text-align:center;">
            <img src="img/YyEWHTlkRlm4MkBdSW0x_thebrow.jpg" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>
