<ion-view title="The Public Opinion Six">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a href="#/melb_entertainment" class="button button-calm button-block button-small icon-left ion-ios-arrow-back">Go Back</a>
        <div>
            <p>Voodoo groove medicine for your soul</p>

            <p>PERFORMANCE TIME: 9am</p>

            <p>WHERE: MAIN STAGE</p>
            <a href="#" onclick="window.open('http://six.thepublicopinion.net', '_system', 'location=yes'); return false;" class="button button-energized button-block  icon-left ion-ios-musical-notes">Website</a>
        </div>
        <div style="text-align:center;">
            <img src="img/x2fD96hRCWSZRLrQPz5N_publicopinionsix.jpg" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>
